/* html-prefix for overload debug.css */
/*html *,*/
/*html *:after,*/
/*html *:before {*/
	/*box-sizing: border-box;*/
/*}*/
html body {
	overflow-x: auto;
	background-color:transparent !important;
}
html a {
	color:#0275d8;
}
html ul.nav {
	margin-bottom:2rem;
}
html .options {
	background-color:transparent !important;
	margin: 1rem 0;
}
a.nav-link {
	font-size: 1.1rem;
}
html table {
	margin: 0;
	min-width:100%;
}
html .table tr th,
html .table tr td {
	padding:.3rem .6rem;
}